<h1>sum</h1>
<form method="post" action="/sumprocess">
    No1: <input type="'text" name="txt1"
    required/>
    No2: <input type="'text" name="txt2"
    required/>
        <input type="submit"/>

</form>
</body>
</html>
